#searchWrap {
    width: 100%;
    padding: var(--search-padding) var(--search-padding);
    background: var(--blur-color);
    backdrop-filter: blur(50px) saturate(180%);
    position: absolute;
    bottom: calc(0 - var(--search-padding));
    z-index: 1000;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

#timeWrap {
    /* transform: translate(-50%, 0); */
    width: 80%;
    max-width: 700px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: var(--bg-color)3f; */
    background: var(--blur-color-solid);
    backdrop-filter: blur(10px) saturate(80%);
    position: absolute;
    top: 0;
    z-index: 999;
    border-radius: 20px;
    overflow: scroll;
    margin: calc(var(--tab-height) + 10px) 0 0 0;
}

#todoWrap {
    width: 100%;
    /* height: 200px; */
    background: var(--bg-color);
    /* backdrop-filter: blur(50px); */
    position: absolute;
    top: 0;
    z-index: 1002;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#musicWrap {
    width: 100%;
    /* height: 200px; */
    /* background: var(--bg-color); */
    background: #00000055;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 1002;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: row;
}



#music-wrap-new {
    width: fit-content;
    height: auto;
    background: var(--blur-color-solid);
    backdrop-filter: blur(40px) saturate(180%);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 40px 2px var(--shadow-color);
    position: fixed;
    top: calc(50vh - (var(--music-box-height) / 2));
    right: 0;
    z-index: 1002;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: row;
    transition: all .2s ease;
    padding: 10px 10px 10px 0;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    #music-wrap-new {
        display: none;
    }
}

.music-box-fold {
    transform: var(--music-box-fold-width);

}

.music-box-expand {
    transform: none;

}

.close {
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    background-color: #27282aa2;
    cursor: pointer;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-close {
    margin-left: 40px;
    /* position: absolute; */
    /* right: 50px;
    top: 50px; */
    color: white;
    background-color: #27282aa2;
    cursor: pointer;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time-indent {
    /* margin: 50px 0 25px 20px; */
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    height: 50%;
    flex-wrap: wrap;
    width: 50%;
}

.time-indent .el-switch {
    margin: 4px 5px;
    width: 45%;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    .time-indent .el-switch {
        margin: 4px 5px;
        width: 100%;
    }
}

.headArea {
    width: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.searchBox_inWrap {
    width: 80%;
    max-width: 700px;
    /* flex-direction: row; */
}

.trans-to-top {
    /* position: fixed; */
    transform: translateY(-120px) !important;
    /* top: 20px; */
    /* transition: all .2s ease; */
}

@media screen and (max-width:600px) {
    .trans-to-top {
        transform: translateY(-70px) !important;
    }

    #timeWrap {
        /* transform: translate(-50%, 0); */
        position: fixed;
        top: calc(50vh - 200px / 2);
        left: calc(50vw - 80% / 2);
        width: 80%;
        /* min-width: 300px; */
        /* width: 500px; */
        /* max-width: 500px; */
        /* max-width: 700px; */
        height: 200px;
        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: center; */
        /* align-items: center; */
        /* background: var(--bg-color)3f; */
        /* background: var(--blur-color-solid); */
        /* backdrop-filter: blur(10px) saturate(80%); */
        /* position: absolute; */
        /* top: 0; */
        /* z-index: 999; */
        /* border-radius: 20px; */
        /* overflow: scroll; */
        /* margin: calc(var(--tab-height) + 10px) 0 0 0; */
    }
}

#contentZone {
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: scroll;
    /* margin-bottom: 10vh;
    margin-top: 5vh; */
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    #contentZone {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
    }
}

#biliZone {
    height: 520px;
    /* width: 390px; */
    width: 383px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 10px) and (max-width: 1200px) {
    #biliZone {
        display: none;
    }
}

.zone {

    background: var(--blur-color);
    border-radius: 10px;
}

#linkZone {
    height: 100%;
    /* background: transparent; */
    margin-left: 20px;
    width: 390px;
    height: 520px;
    border: none;
    overflow: scroll;
    /* width: 50vw; */
}

@media screen and (min-width: 10px) and (max-width: 600px) {}

#specialZone {
    height: 100%;
    background: var(--blur-color-light-solid) !important;
    margin-left: 20px;
    width: 390px;
    height: 520px;
    border: none;
    overflow: hidden;
    /* width: 50vw; */
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    .zone {
        height: calc(100vh - 220px) !important;
        width: 90% !important;
        flex-shrink: 0;
        margin-left: 0 !important;
        margin-bottom: 30px;
    }
}

#bili {
    width: 100%;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

/* .chaoxing {
    width: 937px;
    height: 94%;
    flex-shrink: 0;
    margin-left: 200px;
    margin-top: 30px;
} */

.notify {
    width: 100vw;
    height: var(--app-height);
    border-radius: 12px;
    /* margin: 30px; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}

#music-box-action-area {
    cursor: pointer;
    display: block;
    width: 20px;
    height: var(--music-box-height);
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    opacity: .2;

}

#music-box-action-area:hover {
    width: 30px;
    transition: all .2s ease;
    opacity: 1;

}

#music-box-action-area:active {
    width: 50px;
    transition: all .1s ease;
    opacity: 1;

}

#music-box-toggle {
    display: none;
}

#music-box-toggle+span {
    display: block;
    /* background: #000; */
    transition: all .3s ease;

}


#music-box-toggle:checked+span {
    /* background: #fff; */
    transform: rotateY(180deg);
    transition: all .3s ease;
}

#music-tab-container {
    /* width: 100%; */
    /* height: var(--tab-height); */
    /* max-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    width: max-content;
}

.music-tabs {
    /* width: 100%; */
    /* height: ; */
    /* margin: 0 30px; */
    padding: 0;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* height: var(--tab-height); */
    list-style-type: none;
    /* overflow: hidden;     */
    flex-wrap: nowrap;
    /* background-color: rgba(51, 51, 51, 0.384); */
    /* backdrop-filter: blur(18px); */
}

.small-icon {
    /* width: 20px; */
    height: 17px;
    margin-right: 5px;
    /* margin: calc((33px - 20px) / 2); */
}

.music-tab {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
    /* float: left; */
    width: fit-content;
    height: var(--tab-height);
    line-height: var(--tab-height);
    /* display: block; */
    color: var(--main-color);
    /* text-align: center; */
    padding: 0 16px;
    text-decoration: none;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    white-space: nowrap;
    transition: all .2s ease;
    text-overflow: ellipsis;
    /* overflow: hidden; */

}

.music-tab:hover {
    background-color: rgb(255, 255, 255);
    /* background-color: var(--first-assist-color); */
    transform: scale(1.2) translateX(-5px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.103);
    transition: all .2s ease;
    cursor: pointer;
    z-index: 1;
    flex-shrink: 0;
    color: #000000;

}

.music-tab:active {
    background-color: #fff;
    color: #333;
    transform: scale(1.05) translateX(0px);
    z-index: 0;

}

.music-active-tab {
    color: #333;
    /* background-color: rgba(51, 51, 51, 0.384); */
    background-color: #f6f7f9;
    flex-shrink: 0;
    z-index: 100;
    box-shadow: rgba(0, 24, 104, 0.041) 0px 0px 10px 0px;

}

.music-inactive-tab {
    flex-shrink: 1;
}

.music-item {
    width: 390px;
    height: var(--music-box-height);
    border-radius: 12px;
    overflow: hidden;
    background: var(--blur-color-light);
    transition: all .5s ease;
    z-index: 1000;
}

.music-iframe {
    width: 390px;
    /* height: var(--app-height); */
    height: var(--music-box-height);
    border-radius: 12px;
    /* margin: 30px; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}

.notifyContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.musicContainer {
    width: 390px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: center;
}

.notifyItem {}

.blank {
    width: 100%;
    height: 30px;
}

.float-wrap {
    width: 100vw;
    height: 100vh;

}

.link-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 0;
    justify-content: space-evenly;
    /* height: 100%; */
}

.link {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
}

.link a {
    transition: all .2s;
    color: var(--main-color);
}

.link a:hover {
    transition: all .2s;
    color: rgb(57, 143, 255);
    text-decoration: underline;
}

.link:hover {
    transition: all .2s;
}

.link img {
    /* width: 20px; */
    height: 20px;
    margin-right: 5px;
}